// @import 'all';

:host {
  z-index: 500;
}

.mat-input-element:disabled {
  color: black;
}

.column-filter-name {
  position: relative;
  left: -10px;
  top: -2px;
}

.clear-filter-icon {
  font-size: 12px;
  height: 12px;
}

